* {
    padding: 0;
    background-color:  #00101f;
    box-sizing: border-box;
}
body {
    min-height:  100vh;
    scroll-behavior: smooth;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

#mygov {
    padding: 20px;
    border-radius: 10px 0px 0px 0px;
    background-color: transparent;
    animation: 3.4s ease forwards fillBack 0.5s;
    max-width: 100%;
}
#mygov path:nth-child(1)
{

    animation: 3.4s ease forwards fillGreen 0.4s;
}
#mygov path:nth-child(2)
{

    animation: 3.4s ease forwards fillGreen 1.4s;
}
#mygov path:nth-child(3)
{
    animation: 3.4s ease forwards fillGreen 1.5s;
}
#mygov path:nth-child(4)
{
    animation: 3.4s ease forwards fillGreen 1.6s;
}
#mygov path:nth-child(5)
{
    animation: 3.4s ease forwards fillGreen 1.7s;
}
#mygov path:nth-child(6)
{

    animation: 3.4s ease forwards fillGreen 1.8s;
}
#mygov path:nth-child(7)
{
    animation: 3.4s ease forwards fillGreen 1.9s;
}
#mygov path:nth-child(8)
{
    animation: 3.4s ease forwards fillWhite 0.4s;
}
#mygov path:nth-child(9)
{
    animation: 3.4s ease forwards fillWhite 0.6s;
}
#mygov path:nth-child(10)
{
    animation: 3.4s ease forwards fillWhite 0.8s;
}
#mygov path:nth-child(11)
{
    animation: 3.4s ease forwards fillWhite 1s;
}
#mygov path:nth-child(12)
{
    animation: 3.4s ease forwards fillWhite 1.2s;
}

#container {
    min-height: 100vh;
    display: grid;
    align-content: space-around;
}
.flexcontainer {
    flex-flow: row wrap;
    margin: 4em 1em;
    color: white;
    font-family: montserrat;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100%);
    filter: blur(4px);
    min-height: 90vh;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

.flexcontainer div {
    margin: 10px;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 493px #00ccff);
    box-shadow: inset 0px 0px 11px 0px rgb(119 119 119);
    background-color: gainsboro;
}

.first {
    height: 100vh;
    display: grid;
    background-size: contain;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    justify-items: stretch;
    text-align: center;
    background-image: url(new_background.png);
    background-blend-mode: normal;
    background-repeat: round;
}

.third {
    max-width: 100%;
}

section {
    height: 100vh;
    color: #00ccff;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    scroll-snap-align: start;
    flex-direction: column-reverse;
}
.one {
    background-color: antiquewhite;
}

.two {
    background-color: aquamarine;
}

.new {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-color: none;
}

p3 {
    color: white;
    opacity: 0%;
    font-family: montserrat;
    animation: 3.6s ease forwards fillAll 3.6s;
    background: #d1d1d14d;
    border-radius: 0px 0px 10px 0px;
    text-shadow: 0px 1px 0px black;
}

p4 {
    color: black;
    font-family: 'Italiana', serif;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.why {
    text-align: center;
}

h4 {
    background-color: transparent;
    font-weight: 100;
    font-size: 40px;
}

h1 {
    text-shadow: 1px 1px 2px black;
    color: #04f6dd;
}

.second img {
    width: 100%;
}

.garage img {
    width: 100%;
    border-top: 1px solid white;
}

.container1 {
    padding: 1rem;
    background-color: #fff;
    max-width: 100%;
}

.slider-wrapper {
    position: relative;
    margin: 0 auto;
    background: transparent;
}

.slider {
    display: flex;
    aspect-ratio: auto 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0px 0rem 2rem 0rem #22242887;
    border-radius: 0.5rem;
    max-width: 100%;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-width: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 0.5rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 30%;
    background-color: #0000005e;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

nav {
    background-color: #ffffff6b;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 3px 3px 5px #00000026;
    flex-direction: column;
}

nav ul {
    width: 100%;
    background-color: #ffffff00;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-weight: 600;
}

nav li {
    height: 50px;
    background-color: transparent;
}

nav a {
    height: 100%;
    padding: 0 30px;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #00101f;
    font-family: montserrat;
}

nav a:hover {
    background-color: #04f6dd;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff3d;
    box-shadow: -10px 0 10px #0000001a;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    font-weight: 600;
}

.sidebar li {
    width: 100%;
}

.sidebar ionicon {
    height: 40px;
    color: white;
    background: transparent;
    width: 53px;
    filter: drop-shadow(0px 0px 5px black);
}

#menu {
    background-color: transparent;
    height: 100%;
    padding: 0 11px;
    width: 100%;
}

#menu:hover {
    background-color: #04f6dd;
    height: 100%;
    padding: 0 11px;
    width: 100%;
}

.menu-button {
    display: none;
}

.why {
    text-align: center;
}

.garage{
    background-color: white;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 600px){
    .sidebar{
        width: 100%;
    }
}

ion-icon {
    height: 40px;
    color: white;
    background: transparent;
    width: 63px;
    filter: drop-shadow(0px 0px 5px black);
}

ion-icon:hover {
    height: 40px;
    color: #01fbde;
    background: transparent;
    width: 63px;
    filter: drop-shadow(0px 0px 5px black);
}

.link-text {
    color: #01fbde;
    animation: time ease forwards 0.5s;
    display: none;
    font-size: 13px;
}

.bike img {
    width: 100%;
}

.social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 10px;
}



@keyframes animate
{
    to {
        stroke-dashoffset:  0;
    }
}
@keyframes fillWhite
{
    
    to {
        fill: #fff;
    }
}

@keyframes fillGreen
{
    
    to {
        fill: #04f6dd;
    }
}

@keyframes fillAll
{
    
    to {
        opacity: 100%;
    }
}

@keyframes fillBack
{
    
    to {
        background-color: #d1d1d14d;
    }
}

