* {
    padding: 0;
    background-color:  #00101f;
    box-sizing: border-box;
}
body {
    min-height:  100vh;
    scroll-behavior: smooth;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.first {
    text-align: center;
    background-image: url(vintage-bicycle-side-view-neon-lights-purple-blue-digital-art-garage-372699582\ \(1\).png) ;
}
#mygov {
    padding: 20px;
    border-radius: 10px 0px 0px 0px;
    background-color: transparent;
    animation: 3.4s ease forwards fillBack 0.5s;
    max-width: 100%;
}
#mygov path:nth-child(1)
{

    animation: 3.4s ease forwards fillGreen 0.4s;
}
#mygov path:nth-child(2)
{

    animation: 3.4s ease forwards fillGreen 1.4s;
}
#mygov path:nth-child(3)
{
    animation: 3.4s ease forwards fillGreen 1.5s;
}
#mygov path:nth-child(4)
{
    animation: 3.4s ease forwards fillGreen 1.6s;
}
#mygov path:nth-child(5)
{
    animation: 3.4s ease forwards fillGreen 1.7s;
}
#mygov path:nth-child(6)
{

    animation: 3.4s ease forwards fillGreen 1.8s;
}
#mygov path:nth-child(7)
{
    animation: 3.4s ease forwards fillGreen 1.9s;
}
#mygov path:nth-child(8)
{
    animation: 3.4s ease forwards fillWhite 0.4s;
}
#mygov path:nth-child(9)
{
    animation: 3.4s ease forwards fillWhite 0.6s;
}
#mygov path:nth-child(10)
{
    animation: 3.4s ease forwards fillWhite 0.8s;
}
#mygov path:nth-child(11)
{
    animation: 3.4s ease forwards fillWhite 1s;
}
#mygov path:nth-child(12)
{
    animation: 3.4s ease forwards fillWhite 1.2s;
}

#container {
    min-height: 100vh;
    display: grid;
    align-content: space-around;
}
.flexcontainer {
    flex-flow: row wrap;
    margin: 4em 1em;
    color: white;
    font-family: montserrat;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100%);
    filter: blur(4px);
    min-height: 90vh;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

.flexcontainer div {
    margin: 10px;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 493px #00ccff);
    box-shadow: inset 0px 0px 11px 0px rgb(119 119 119);
    background-color: gainsboro;
}

.first {
    height: 100vh;
    display: grid;
    background-size: contain;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    justify-items: stretch;
    text-align: center;
    background-image: url(vintage-bicycle-side-view-neon-lights-purple-blue-digital-art-garage-372699582\ \(1\).png);
    background-blend-mode: normal;
    background-repeat: round;
}

.third {
    max-width: 100%;
}

section {
    height: 100vh;
    color: #00ccff;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.one {
    background-color: antiquewhite;
}

.two {
    background-color: aquamarine;
}

.new {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-color: none;
}

p3 {
    color: white;
    opacity: 0%;
    font-family: montserrat;
    animation: 3.6s ease forwards fillAll 3.6s;
    background: #d1d1d14d;
    border-radius: 0px 0px 10px 0px;
    text-shadow: 0px 1px 0px black;
}

h1 {
    text-shadow: 1px 1px 2px black;
    color: #04f6dd;
}

.second img {
    width: 100%;
}

.container1 {
    padding: 2rem;
    background-color: #fff;
    max-width: 100%;
}

.slider-wrapper {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    background: transparent;
}

.slider {
    display: flex;
    aspect-ratio: auto 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0px 0rem 2rem 0rem #222428;
    border-radius: 0.5rem;
    max-width: 100%;
    border: 4px double #ffffff;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-width: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 0.5rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 15%;
    background-color: #0000005e;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.navbar {
    height: 10vh;
    position: fixed;
    z-index: 10;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    background: #01fbde1a;
    box-shadow: inset 0px 0px 5px #01fbde;
    display: none;
}


header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    padding-top: 348px;
    background: #ffffff00;
}

.nav-item {
    background: transparent;
    position: relative;
    bottom: 327px;
}

.nav-link {
    filter: brightness(100);
    background: transparent;
    text-decoration: none;
    height: 0;
    display: grid;
}

ion-icon {
    height: 40px;
    color: white;
    background: transparent;
    width: 63px;
    filter: drop-shadow(0px 0px 5px black);
}

ion-icon:hover {
    height: 40px;
    color: #01fbde;
    background: transparent;
    width: 63px;
    filter: drop-shadow(0px 0px 5px black);
}

.link-text {
    color: #01fbde;
    animation: time ease forwards 0.5s;
    display: none;
    font-size: 13px;
}

.bike img {
    width: 100%;
}


@keyframes animate
{
    to {
        stroke-dashoffset:  0;
    }
}
@keyframes fillWhite
{
    
    to {
        fill: #fff;
    }
}

@keyframes fillGreen
{
    
    to {
        fill: #04f6dd;
    }
}

@keyframes fillAll
{
    
    to {
        opacity: 100%;
    }
}

@keyframes fillBack
{
    
    to {
        background-color: #d1d1d14d;
    }
}

